<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.getepay.transportapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tracking_newlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tracking_newlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TransportApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.CreatePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.activity_faculty_list"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity4"
            android:exported="false"
            android:label="@string/title_activity_main4"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.MainActivity2"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.StudentListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.MainActivity3"
            android:screenOrientation="portrait"/>

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.EshForegroundLocationService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".utils.LocationService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>